
<div id="countdown">
  <span id="defaultCountdown"></span>
</div>
<div id="label">
  <span>DAYS</span> <span>HOURS</span> <span>MINS</span> <span>SECS</span>
</div>
<div class="share_buttons">
 <%= link_to t('general.share_with_facebook'), user_omniauth_authorize_path(:facebook), :class => 'btn btn-custom btn-large' %>  
</div>


