<div class="row-fluid">
  <div id="sign-in-text">
    <div id="sign-in-message">
      <%= t('login.message') %>
    </div>
    <div id="sign-in-button">
   <%= link_to t('general.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook), :class => 'btn btn-facebook btn-large' %>  
    </div>
  </div>
</div>
